/* Styles */
.container{
	max-width:900px;
	padding:0px;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
}

a.active {
  color: orange;
}

.navigation {
  padding-top: 20px;
}

nav{
	max-width:900px;
	margin:auto !important;
}

.form-control{
  width:auto;
}

.field {
  text-align: left;
}

.prodList .card{
	border: 1px dotted #666;
    padding: 10px;
    border-radius: 8px;
    text-align:center;
    min-height: 350px;
}

.prodList .prodItem{
	margin-bottom:10px;
}

.cartBtns, .cartBtns:hover, .cartBtns.active, .cartBtns:focus{
	background-color:#000;
	color:#fff;
	font-size:12px;
	padding:6px 8px;
	margin-right:5px;
	border-radius:5px;
	text-decoration:none;
}

.cartBtns:hover,.cartBtns.active{
	background-color:#ccc;
	color:#000;
}

.prodList .card-body{
	margin-bottom:5px;
}

.prodList p{
	margin:12px 0px;
}

.prodList .desc{
	font-size:12px;
}

.prodList .title{
	margin:5px 0px;
	font-weight:bold;
}

.prodImg{
	text-align:center;
	margin-bottom:10px;
}

.prodList .card-img-top{
	width:50%;
	text-align:center;
}

.navBtns{
	margin-top:24px;
}

.navigation{
	background-color:#2874f0;
	padding:10px;
	border-bottom:4px solid #f8e831;
}

.navigation a, .navigation a:hover,.navigation a.active,.navigation a:focus{
	background-color:#f8e831;
	color:#000;
	font-size:13px;
	padding:8px 12px;
	margin-right:10px;
	border-radius:5px;
	text-decoration:none;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.navigation a:last-child{
	margin-right:0px;
}

.navigation a:hover,.navigation a.active{
	color:#000;
	background-color:#fff;
}

.kartInfo{
	padding:10px;
	text-align:right;
}

.normalPadding{
	padding:10px;
}

h1{
	margin:10px 0px;
	background-color:none;
	font-weight:bold;
	font-size:20px;
}

h2.collapsible{
	margin:10 0px;
	padding:10px;
	background-color:#f7f7f7;
	font-weight:bold;
	font-size:17px;
	border:1px dotted #ccc;
}

label{
	font-size:14px;
	font-weight:bold;
	color:#888;
}

input.form-control-sm{
	border:1px solid #ccc;
	padding:4px;
	border-radius:3px;
}

.prodImgChk{
	border: 1px dotted #666;
    padding: 10px;
    border-radius: 8px;
    text-align:center;
    min-height: 200px;
    margin-bottom:10px;
}

.noPadding{
	padding:0px;
}

.badge{
	background-color: #444;
    border-radius: 5px;
    padding:5px 10px;
    font-weight:normal;
}

.footer{
	text-align:center;
	background-color:#222;
	color:#fff;
	padding:10px;
	border-top:2px solid #f8e831;
	margin-top:10px;
}